services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pr-service
    environment:
      CONFIG_PATH: "/app/config/local.yaml"
      STORAGE_PATH: "postgres://prsvc:prsvcpass123@db:5432/prdb?sslmode=disable"
    volumes:
      - ./config/local.yaml:/app/config/local.yaml:ro
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_USER: prsvc
      POSTGRES_PASSWORD: prsvcpass123
      POSTGRES_DB: prdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
